div[b-lipusf1ls3] {
    position: relative;
}

nav[b-lipusf1ls3] {
    top: 4em;
    width: 30em;
    display: inline-flex;
    flex-direction: row;
	margin-left: 10px;
}

nav span[b-lipusf1ls3] {
    width: 4em;
    text-align: center;
    cursor: pointer;
    font-size: 1em;
}

div.board[b-lipusf1ls3] {
    margin-top: 1em;
    flex-wrap: wrap;
    width: 30em;
    height: 24em;
    overflow: hidden;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: -5;
    row-gap: 0;
    pointer-events: none;
    border-left: 10px solid var(--board-bg);
}

span.container[b-lipusf1ls3] {
    width: 4em;
    height: 4em;
    margin: 0;
    padding: 4px;
    overflow: hidden;
    background-color: transparent;
    position: relative;
    z-index: -2;
    pointer-events: none;
}

.container span[b-lipusf1ls3] {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    box-shadow: 0 0 0 3em var(--board-bg);
    left: 0px;
    position: absolute;
    display: block;
    z-index: 5;
    pointer-events: none;
}

.player1[b-lipusf1ls3], .player2[b-lipusf1ls3] {
    width: 3.5em;
    height: 3.5em;
    border-radius: 50%;
    left: 0px;
    top: 0px;
    position: absolute;
    display: block;
    z-index: -5;
}

.player1[b-lipusf1ls3] {
    background-color: var(--player1);
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 0 0 4px var(--player1);
}

.player2[b-lipusf1ls3] {
    background-color: var(--player2);
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    box-shadow: 0 0 0 4px var(--player2);
}

.col1[b-lipusf1ls3] {
    left: calc( 0em + 2px );
}

.col2[b-lipusf1ls3] {
    left: calc( 4em + 2px );
}

.col3[b-lipusf1ls3] {
    left: calc( 8em + 2px );
}

.col4[b-lipusf1ls3] {
    left: calc( 12em + 2px );
}

.col5[b-lipusf1ls3] {
    left: calc( 16em + 2px );
}

.col6[b-lipusf1ls3] {
    left: calc( 20em + 2px );
}

.col7[b-lipusf1ls3] {
    left: calc( 24em + 2px );
}

.drop1[b-lipusf1ls3] {
    animation-duration: 1s;
    animation-name: drop1-b-lipusf1ls3;
}

.drop2[b-lipusf1ls3] {
    animation-duration: 1.5s;
    animation-name: drop2-b-lipusf1ls3;
}

.drop3[b-lipusf1ls3] {
    animation-duration: 1.6s;
    animation-name: drop3-b-lipusf1ls3;
}

.drop4[b-lipusf1ls3] {
    animation-duration: 1.7s;
    animation-name: drop4-b-lipusf1ls3;
}

.drop5[b-lipusf1ls3] {
    animation-duration: 1.8s;
    animation-name: drop5-b-lipusf1ls3;
}

.drop6[b-lipusf1ls3] {
    animation-duration: 1.9s;
    animation-name: drop6-b-lipusf1ls3;
}

@keyframes drop1-b-lipusf1ls3 {
    75%, 90%, 97%, 100% {
        transform: translateY(0em);
    }

    80% {
        transform: translateY(0.4em);
    }
    /*-15% */
    95% {
        transform: translateY(0.8em);
    }
    /* -7% */
    99% {
        transform: translateY(1.0em);
    }
    /* -3% */
}

@keyframes drop2-b-lipusf1ls3 {
    75%, 90%, 97%, 100% {
        transform: translateY(4em);
    }

    80% {
        transform: translateY(3.8em);
    }
    /*-15% */
    95% {
        transform: translateY(4.6em);
    }
    /* -7% */
    99% {
        transform: translateY(4.9em);
    }
    /* -3% */
}

@keyframes drop3-b-lipusf1ls3 {
    75%, 90%, 97%, 100% {
        transform: translateY(8em);
    }

    80% {
        transform: translateY(7.2em);
    }
    /*-15% */
    95% {
        transform: translateY(8.3em);
    }
    /* -7% */
    99% {
        transform: translateY(8.8em);
    }
    /* -3% */
}

@keyframes drop4-b-lipusf1ls3 {
    75%, 90%, 97%, 100% {
        transform: translateY(12em);
    }

    80% {
        transform: translateY(10.6em);
    }
    /*-15% */
    95% {
        transform: translateY(12em);
    }
    /* -7% */
    99% {
        transform: translateY(12.7em);
    }
    /* -3% */
}

@keyframes drop5-b-lipusf1ls3 {
    75%, 90%, 97%, 100% {
        transform: translateY(16em);
    }

    80% {
        transform: translateY(14em);
    }
    /*-15% */
    95% {
        transform: translateY(15.7em);
    }
    /* -7% */
    99% {
        transform: translateY(16.5em);
    }
    /* -3% */
}

@keyframes drop6-b-lipusf1ls3 {
    75%, 90%, 97%, 100% {
        transform: translateY(20em);
    }

    80% {
        transform: translateY(17.4em);
    }

    95% {
        transform: translateY(19.4em);
    }

    99% {
        transform: translateY(20.4em);
    }
}